<!DOCTYPE html>
<html>
  <head>
    <%- include ("../partials/header.ejs") %>
  </head>

  <body>
    <textarea type="textarea" id="TextInput" spellcheck="false"></textarea>
    <div class="container">
      <div class="textbox"><span></span></div>
    </div>
  </body>
</html>
